* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #ffd1dc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  padding: 40px 50px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

h1 {
  margin: 0;
  font-size: 32px;
}

p {
  font-size: 20px;
  margin: 15px 0 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

button {
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
  z-index: 1;
}

#yesBtn:hover {
  transform: scale(1.1);
}

#noBtn {
  background-color: #f1f1f1;
  color: black;
  position: relative;
}
